@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --header-background-color: #FFE794;
	--hamburger-background-color: #D1C69E;
    --sidebar-background-color: #FFFBEF;
	--new-project-background-color: #D1C69E;
    --new-project-hover-background-color: #c4b98e;
    --new-project-active-background-color: #b7ac7e;
    --delete-background-color: #ff5252;
	--delete-hover-background-color: #f84242;
	--delete-active-background-color: #f80000;
    --edit-background-color: #7E8BF9;
    --edit-hover-background-color: #5e6bf9;
    --edit-active-background-color: #3d4bf9;
    --done-background-color: #7FDB88;
    --done-hover-background-color: #5fd97f;
    --done-active-background-color: #13d54d;
    
    --new-task-background-color: #F8CA94;
    --new-task-hover-background-color: #f8c17f;
    --new-task-active-background-color: #f8b96b;

    --task-title-high-priority-background-color: #FF8B00;
    --task-title-medium-priority-background-color: #FFAF4E;
    --task-title-low-priority-background-color: #FFD8A9;

    --task-description-background-color: #FEFFDF;

    --header-height: 95px;
    --sidebar-width: 300px;
    --sidebar-height: calc(100vh - var(--header-height));
    --sidebar-buttons-width: 250px;
    --sidebar-buttons-height: 50px;
    
    --task-height: 250px;
    --task-width: 250px;

    --task-title-height: calc(var(--task-height) / 5);

}

body {
    background-color: #FFE1BD;
}

@media (max-width: 1162px) {
    .tasks {
        justify-content: center;
    }
}

@media (min-width: 645px) {
    #hamburger-button {
        display: none !important;
    }
}

@media (max-width: 645px) {
    .tasks {
        justify-content: center;
    }
    #sidebar {
        display: none !important;
        justify-content: start !important;
    }
    main {
        width: 100vw !important;
    }
}