#new_project_button {
	display: flex;
	width: var(--sidebar-buttons-width);
	height: var(--sidebar-buttons-height);
    border: none;
    background-color: var(--new-project-background-color);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    font-weight: 400px;
}

#new_project_button:hover {
    background-color: var(--new-project-hover-background-color);
}

#new_project_button:active {
    background-color: var(--new-project-active-background-color);
}