main {
    display: block;
    height: calc(100vh - var(--header-height));
}

main .main-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
}

main #new_task_button {
	display: flex;
	min-height: var(--new-task-button-height);
	height: var(--new-task-button-height);
    border: none;
    background-color: var(--new-task-background-color);
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    font-weight: 400px;
}

main #new_task_button:hover {
    background-color: var(--new-task-hover-background-color);
}

main #new_task_button:active {
    background-color: var(--new-task-active-background-color);
}

main .tasks .task {
    display: flex;
    flex-direction: column;
    min-height: var(--card-height);
    height: var(--card-height);
    min-width: var(--card-width);
    width: var(--card-width);
    background-color: white;
    box-shadow: var(--card-box-shadow);
    animation-name: card-cancel-hover;
    animation-duration: 0.1s;
}

main .tasks .task:hover {
    animation-name: card-hover;
    animation-duration: 0.2s;
    box-shadow: none;
}

@keyframes card-hover {
    from {
        box-shadow: var(--card-box-shadow);
    }
    to {
        box-shadow: none;
    }
}

@keyframes card-cancel-hover {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: var(--card-box-shadow);
    }
}

main .tasks .task .task-title {
    height: var(--card-title-height);
    background-color: var(--task-title-high-priority-background-color);
}

main .tasks .task .task-title div {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

main .tasks .task .task-description {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    background-color: var(--task-description-background-color);
}