@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --header-background-color: #FFE794;
	--new-project-background-color: #D1C69E;
    --new-project-hover-background-color: #c4b98e;
    --new-project-active-background-color: #b7ac7e;
    --delete-background-color: #ff5252;
	--delete-hover-background-color: #f84242;
	--delete-active-background-color: #f80000;
    --edit-background-color: #7E8BF9;
    --edit-hover-background-color: #5e6bf9;
    --edit-active-background-color: #3d4bf9;
    --done-background-color: #7FDB88;
    --done-hover-background-color: #5fd97f;
    --done-active-background-color: #13d54d;
    
    --new-task-background-color: #F8CA94;
    --new-task-hover-background-color: #f8c17f;
    --new-task-active-background-color: #f8b96b;

    --project-description-background-color: #FFE3AB;

    --header-height: 95px;

    --new-project-button-height: 50px;

    --project-component-width: 250px;
    --project-component-height: 50px;
    
    --card-height: 250px;
    --card-width: 250px;

    --card-shadow-color: rgb(0 0 0 / 50%);
    --card-box-shadow: 0px 1px 5px var(--card-shadow-color),
                       0px 1px 5px var(--card-shadow-color);
}

body {
    background-color: #FFFBEF;
}

header {
    height: var(--header-height);
    background-color: var(--header-background-color);
}

@media (max-width: 1162px) {
    .projects {
        justify-content: center;
    }
}

@media (max-width: 645px) {
    .projects {
        justify-content: center;
    }
    main {
        width: 100vw !important;
    }
}