.project_component {
	background-color: #F4D089;
	width: var(--sidebar-buttons-width);
	min-height: var(--project-component-height);
	height: var(--project-component-height);
	display: flex;
}

.project_component > .delete {
	width: 20%;
    border: none;
	background-color: var(--delete-background-color);
}

.project_component > .delete:hover {
    background-color: var(--delete-hover-background-color);
}

.project_component > .delete:active {
    background-color: var(--delete-active-background-color);
}

.project_component > .edit {
	flex: 1;
    border: none;
    background-color: var(--edit-background-color);
}

.project_component > .edit:hover {
    background-color: var(--edit-hover-background-color);
}

.project_component > .edit:active {
    background-color: var(--edit-active-background-color);
}

.project_component > .done {
	flex: 1;
    border: none;
    background-color: var(--done-background-color);
}

.project_component > .done:hover {
    background-color: var(--done-hover-background-color);
}

.project_component > .done:active {
    background-color: var(--done-active-background-color);
}

.project_component > input {
	width: 60%;
	border: 0;
	text-align: center;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
}

.project_component > input:focus {
	outline: none;
}